body {
	background-color: #EEEEEE;
	font-family: Helvetica, Arial, sans-serif;
}
a{
	text-decoration: none;
	color: blue;
}
#header{
	text-align: center;
	padding: 10px;
}
#main{
	width: 600px;
	float: right;
}
#image{
	width: 160px;
	float: left;
	border-style: double double double none;
}
#footer{
	background-color: #C6CACC;
	clear: both;
	padding: 10px;
	text-align: right;
}
#container{
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#nav ul{
	list-style-type: none;
	padding: 0px;
	display: inline;
}
#nav {
	background: #E6E6E6;
}
#tag{
	text-align: center;
}
#content{
	padding: 10px 0px;
	margin-bottom: 200px;
}
#nav .selected{
	font-weight: bold;
}

h1, h2, h3{
	margin: 0;
}